* {
    -fx-base: white;
}
.my-button-1 {
    -fx-min-width: 5;
    -fx-min-height: 5;
    -fx-pref-width: 25;
    -fx-pref-height: 35;
    -fx-background-color: white;
    -fx-font-size: 16pt;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, black, 10,0,0,0);
    -fx-background-insets: 6px 0 6px 0; /* use proper area for shape */
    -fx-shape: "M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z";
}
.my-button-2 {
    -fx-min-width: 5;
    -fx-min-height: 5;
    -fx-pref-width: 20;
    -fx-pref-height: 30;
    -fx-background-color: white;
    -fx-font-size: 16pt;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, black, 10,0,0,0);
    -fx-background-insets: 6px 0 6px 0; /* use proper area for shape */
    -fx-shape: "M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z";
}
.my-button-3 {
    -fx-min-width: 5;
    -fx-min-height: 5;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-background-color: white;
    -fx-font-size: 16pt;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, black, 10,0,0,0);
    -fx-background-insets: 6px 0 6px 0; /* use proper area for shape */
    -fx-shape: "M5120.31 6363.69c0,0 -26.46,0 -26.46,-26.46 0,-26.46 26.46,-105.83 158.75,-105.83 132.28,0 158.74,79.38 158.74,105.83 0,26.45 -26.46,26.46 -26.46,26.46l-264.57 0zm132.29 -158.74c43.83,0 79.37,-35.55 79.37,-79.38 0,-43.83 -35.54,-79.38 -79.36,-79.38 -43.83,0 -79.38,35.55 -79.38,79.38 0,43.83 35.55,79.38 79.38,79.38l-0.01 0zm198.43 -79.38c7.31,0 13.23,5.92 13.23,13.23l0 39.69 39.69 0c7.31,0 13.23,5.92 13.23,13.23 0,7.31 -5.92,13.23 -13.23,13.23l-39.69 0 0 39.68c0,7.3 -5.92,13.22 -13.23,13.22 -7.31,0 -13.23,-5.92 -13.23,-13.23l0 -39.67 -39.69 0c-7.31,0 -13.23,-5.92 -13.23,-13.23 0,-7.31 5.92,-13.23 13.23,-13.23l39.69 0 0 -39.69c0,-7.31 5.92,-13.23 13.23,-13.23z";
}
.add-pacient {
    -fx-alignment: center-left;
    /*-fx-text-alignment: center;*/
}